.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #635bff, #00d4ff);
}

.login-card {
  width: 350px;
  padding: 30px;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.login-button {
  height: 45px;
}
.error-message {
  color: #f44336;
  background-color: #ffebee;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  border: 1px solid #ffcdd2;

  /* animation: fadeIn 0.3s ease-in; */
}
/* 
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
} */

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.inline-spinner ::ng-deep circle {
  stroke: white !important;
}
